.backgroundTeaser {
  position: absolute;
  width: 100%;
  height: 50vh;
  min-height: 250px;
  z-index: -1;
}
.backgroundTeaser img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detailSectionHeading {
  margin: 96px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
}

.detailSectionCustomization {
  padding-top: 12px;
  padding-bottom: 12px;
}

.workspace {
  display: flex;
  flex-direction: row;
}
.workspace * {
  flex: 1;
  padding: 6px;
  overflow: hidden;
}
.workspace *.hidden {
  display: none;
}

.contentCheckboxes {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 12px 0px;
}
.casesRow {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 24px 0px;
  margin-bottom: -36px;
}

.casePill {
  padding: 6px 24px;
  border-radius: 24px;
  background-color: rgba(220, 220, 220, 0.5);
  backdrop-filter: blur(8px);
  cursor: pointer;
}

.casePill:hover {
  background-color: rgba(235, 235, 235, 0.7);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.09);
}

.casePill.selected {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.09);
}

.casePill.selected:hover {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.16);
}
